<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="ios-keypad"></ion-icon>
    </button>
    <ion-title><h3>Lista Persone</h3></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="container">
  <ion-searchbar [(ngModel)]="searchTerm">
    <ion-icon style="font-size: 2em;" name="ios-settings"></ion-icon>
  </ion-searchbar>
  <button ion-button color="light" item-end [navPush]="'PeopleSearchPage'">
    Ricerca Avanzata
  </button>
  <ion-list>

    <div *ngIf="people$ | async as people; else loading">
        <item-list
          *ngFor="let person of people | filter: searchTerm"
          [data]="person"
          [navigateTo]="'PersonDetailPage'"
        >
        </item-list>
    </div>
    <ng-template #loading>
      <ion-spinner style="margin-top: 3em;"></ion-spinner>
    </ng-template>

  </ion-list>
</ion-content>
