page-people-list {
  .container {
    text-align: center;
  }
  header {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: #222222 1px solid;
  }
}
