page-invite-friends {

    .top {
        display: flex;
        flex-direction: row;
        height: 6em;
    }
    .top ion-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .top span {
        margin-top: 2.5em;
    }

    .top img {
        height: 5em;
        border-radius: 5%;
        margin-bottom: .5em;
    }

    .description {
        display: flex;
        flex-direction: column;
    }
    
    .sendButton button {
        height: 3em;
        width: 60%;
        margin: 10% 0 0 20%;
        font-size: 0.5cm;
    }
    
}
