page-profile {
  .divider {
    border-bottom: 1px solid #777;
    margin: 2em auto;
    width: 30%;
  }
  .sendButton {
    height: 3em;
    width: 60%;
    margin: 1em auto;
    font-size: 0.5cm;
  }
  .selectSex {
    display: flex;
    flex-direction: row;
    height:3.29em;
  }
  .singleSex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 100%;
    margin: 0 0 0 2.5%;
  }
  .femaleSex {
    margin: 0 0 0 15%;
  }
  .singleSex ion-icon {
    font-size:2em;
  }
}
