<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="ios-keypad"></ion-icon>
    </button>
    <ion-title><h3>I tuoi inviti</h3></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="container">

  <ion-searchbar [(ngModel)]="searchTerm">
    <ion-icon style="font-size: 2em;" name="ios-settings"></ion-icon>
  </ion-searchbar>

  <ion-list>
    <div *ngIf="invites$ | async as invites; else loading">
      <item-list
        *ngFor="let invite of invites"
        [data]="invite"
        [navigateTo]="'InviteDetailPage'"
        [isInvited]="isInvited(invite)"
      >
      </item-list>
    </div>
    <ng-template #loading>
      <ion-spinner style="margin-top: 3em;"></ion-spinner>
    </ng-template>
  </ion-list>

</ion-content>
