<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="ios-keypad"></ion-icon>
    </button>
    <ion-title><h3>{{ 'localsList.title' | translate }}</h3></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="container">
  <ion-searchbar [(ngModel)]="searchTerm">
    <ion-icon style="font-size: 2em;" name="ios-settings"></ion-icon>
  </ion-searchbar>

  <div *ngIf="local$ | async as locals; else loading">
    <item-list
      *ngFor="let local of locals | filter: searchTerm"
      [data]="local"
      [navigateTo]="'LocalDetailPage'"
    >
    </item-list>
  </div>
  <ng-template #loading>
    <ion-spinner style="margin-top: 3em;"></ion-spinner>
  </ng-template>
</ion-content>
