<ion-content style="padding: 2em;">
  <div class="background-wrapper">

    <div style="display:flex; flex-direction: row; align-items: center;">
      <h2 style="margin:auto;">NeverEatAlone</h2>
    </div>

    <div *ngIf="viewLogin" style="display: flex; flex-direction: column; width:90%; margin: auto;">

      <md-input [(data)]="credentials.email" [label]="'Email'" [type]="'text'"></md-input>

      <md-input [(data)]="credentials.password" [label]="'Password'" [type]="'password'"></md-input>

      <div class="button-container" style="display:flex; flex-direction: row; justify-content: center">
        <button ion-button color="secondary" (click)="login()">Login</button>
        <button ion-button (click)="switchView()">Registrati</button>
      </div>

      <p *ngIf="errors" style="color: red; background-color: #f4f4f4; padding: 2em; border-radius: 5px;">{{ errors }}</p>

    </div>

    <div *ngIf="!viewLogin" style="display: flex; flex-direction: column; width:90%; margin: auto;">

      <ion-input type="email" class="general-input" [(ngModel)]="credentials.email" placeholder="Inserisci la tua email"></ion-input>
      <ion-input type="password" class="general-input" [(ngModel)]="credentials.password" placeholder="Inserisci la tua password"></ion-input>
      <ion-input type="password" class="general-input" [(ngModel)]="credentials.password" placeholder="Conferma password"></ion-input>
      <ion-input type="text" class="general-input" [(ngModel)]="credentials.username" placeholder="Scegli uno username (mail se non inserito)"></ion-input>
      <div class="button-container" style="display:flex; flex-direction: row; justify-content: center">
        <button ion-button color="secondary" (click)="signup()">Registrati</button>
        <button ion-button (click)="switchView()">Login</button>
      </div>

      <p *ngIf="errors" style="color: red; background-color: #f4f4f4; padding: 2em; border-radius: 5px;">{{ errors }}</p>

    </div>
  </div>
</ion-content>
