<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="ios-keypad"></ion-icon>
    </button>
    <ion-title *ngIf="loggedUser === inviteInfo.targetUser.username">Invito Ricevuto da {{
      inviteInfo.sourceUser.username | capitalize }}
    </ion-title>
    <ion-title *ngIf="loggedUser !== inviteInfo.targetUser.username">Invito Inviato a {{ inviteInfo.targetUser.username
      | capitalize }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item class="top">
    <ion-label>
      <span
        *ngIf="loggedUser === inviteInfo.targetUser.username">Invito da:<br><b>{{ inviteInfo.sourceUser.username | capitalize }}</b></span>
      <span
        *ngIf="loggedUser !== inviteInfo.targetUser.username">Invito a:<br><b>{{ inviteInfo.targetUser.username | capitalize }}</b></span>
      <img *ngIf="loggedUser === inviteInfo.targetUser.username"
           src="{{ inviteInfo.sourceUser.avatar || '../../assets/imgs/user.png' }}">
      <img *ngIf="loggedUser !== inviteInfo.targetUser.username"
           src="{{ inviteInfo.targetUser.avatar || '../../assets/imgs/user.png' }}">
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Localiltà: {{inviteInfo.location}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Orario: {{inviteInfo.time}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Data: {{inviteInfo.date}}</ion-label>
  </ion-item>
  <ion-item class="description">
    <ion-label>Descrizione:</ion-label>
    <ion-textarea rows="8" readonly value="{{ inviteInfo.description }}"></ion-textarea>
  </ion-item>
  <div class="choiceButtons" *ngIf="loggedUser === inviteInfo.targetUser.username && inviteInfo.status === 'pending'">
    <button ion-button round large color="secondary">Accetta</button>
    <button ion-button round large color="danger">Declina</button>
  </div>
</ion-content>

<ion-footer *ngIf="loggedUser !== inviteInfo.targetUser.username">
  <ion-toolbar>
    <ion-title>Stato: {{ inviteInfo.status }}</ion-title>
  </ion-toolbar>
</ion-footer>
