<a class="sent" ion-item [navPush]="navigateTo" [navParams]="dataAndIsInvite"  *ngIf="!isInvite">  
  <ion-avatar item-start>
    <img src="{{ data.avatar || '../../assets/imgs/user.png' }}">
  </ion-avatar>
  <span>
    <h2>Invito a:{{ data.userReceivedId }}</h2>
    <p>{{ data.date }} , {{ data.time }}</p>  
  </span>

  <button ion-button clear item-content>
      <!--TODO need to build appInviteStatus attribute directive -->
      <div class="statusBox">
        <ion-icon *ngIf="data.status === 'pending'" style="color:grey;" name="md-help"></ion-icon>
        <ion-icon *ngIf="data.status === 'rejected'" style="color:red;" name="md-close"></ion-icon>
        <ion-icon *ngIf="data.status === 'accepted'" style="color:green;" name="md-checkmark"></ion-icon>
      </div>
  </button>

  <button ion-button clear item-end>
    <ion-icon name="ios-arrow-forward-outline"></ion-icon>
  </button>
</a>

<a class="received" ion-item [navPush]="navigateTo" [navParams]="dataAndIsInvite"  *ngIf="isInvite">
  <ion-avatar item-start>
    <img src="{{ data.userIdAvatar || '../../assets/imgs/user.png' }}">
  </ion-avatar>
  <h2>Invito da: {{ data.userId }}</h2>
  <p>{{ data.date }} , {{ data.time }}</p>

  <button ion-button clear item-end>
    <ion-icon name="ios-arrow-forward-outline"></ion-icon>
  </button>
</a>
