<button ion-item [navPush]="navigateTo" [navParams]="data" >
  <ion-avatar item-start>
    <img src="{{ data.avatar || '../../assets/imgs/user.png' }}" >
  </ion-avatar>

  <div *ngIf="isInvited === undefined">
    <h2>{{ data.username || data.name }}</h2>
    <p>{{ data.biography || data.description }}</p>
  </div>

  <div *ngIf="isInvited === false">
    <h2>Invito a: {{ data.userReceivedId }}</h2>
    <p>{{ data.date }} , {{ data.time }}</p>
  </div>

  <div *ngIf="isInvited">
    <h2>Invito da: {{ data.userId }}</h2>
    <p>{{ data.date }} , {{ data.time }}</p>
  </div>

  <!--TODO need to build appInviteStatus attribute directive -->
  <div class="statusBox" ion-button clear item-content *ngIf="isInvited === false">
    <ion-icon *ngIf="data.status === 'pending'" style="color:grey;" name="md-help"></ion-icon>
    <ion-icon *ngIf="data.status === 'rejected'" style="color:red;" name="md-close"></ion-icon>
    <ion-icon *ngIf="data.status === 'accepted'" style="color:green;" name="md-checkmark"></ion-icon>
  </div>

  <p
    *ngIf="isInvited && data.status === 'pending'"
    item-end
    style="background-color: #33A1DE; color: #fff; padding: .5em; display: block; border-radius: 5px; font-size: .8em;"
  >Rispondi</p>
  <p
    *ngIf="isInvited && data.status === 'accepted'"
    item-end
    style="background-color: #008000; color: #fff; padding: .5em; display: block; border-radius: 5px; font-size: .8em;"
  >Hai Accettato</p>
  <p
    *ngIf="isInvited && data.status === 'rejected'"
    item-end
    style="background-color: #FF1111; color: #fff; padding: .5em; display: block; border-radius: 5px; font-size: .8em;"
  >Hai Rifiutato</p>

  <button ion-button clear item-end>
    <ion-icon style="font-size: 2em;" name="ios-arrow-forward-outline"></ion-icon>
  </button>
</button>
